@import  

"../sass/utils/variables",
"../sass/utils/mixins",
"../sass/layout/header",
"../sass/base/base",
"../sass/components/buttons",
"../sass/layout/presentation",
"../sass/layout/fonctionnement",
"../sass/layout/restaurants",
"../sass/layout/footer";
          

.presentation{
      .image-restaurant{
      width: 375px;
      height: 260px;
      background-size: 100% 100%;
    }
   
}
.presentation img{ 
        width: 100%;
        height: 260px;
        background-size: 100% 100%;
        object-fit: cover;
      }

.selection-menu{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  background-color: #f6f6f6;
}      
      
.selection-entrees, .selection-plats, .selection-desserts{
  width: 95%;
  
  margin: auto;
  }


.cartes-entree, .cartes-plats, .cartes-desserts{
  display: flex;
  flex-direction: column;
  gap: 20px;
  
  &__btn{
      cursor: pointer;


        background-color: #ffff;
        border-radius: 15px;
        @include boxshadow;

        display: grid;
        grid-template-columns: 1fr 50px;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "titre prix"
        "description prix";
      }
      &--titre{
        grid-area: titre;
        font-size: 1.2rem;

        margin-top: 7px;

        margin-left: 10px;
        margin-bottom: 0;
      }
      &--description{
        grid-area: description;
        margin-left: 10px;
        margin-top: 10px;
       
      }
      &--prix{
        grid-area: prix;
        align-self: flex-end;


        font-size: 1.2rem;
        font-weight: bold;
        
        
        margin-top: 5px;
       }
}  

.validation{
  width: 100%;
  display: flex;
  justify-content: center;
   .btn--main{
     &:hover{
       @include hover-main;
     }
     @include boxshadow;
   }
}  