footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: #353535;
  color: #fff;

  .logo_footer {
    @media all and (min-width: 768px) {
      width: 30%;
    }
    max-width: 50%;
    color: #fff;
    padding: 25px;
    filter: invert(100%);

    @media all and (min-width: 376px) {
      margin: auto;
    }
  }

  .footer {
    @media all and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 20px;
    }
    display: flex;
    flex-direction: column;
    @media all and (min-width: 376px) {
      margin: auto;
    }

    &__link {
      color: #fff;
      margin-bottom: 10px;
      margin-left: 20px;
    }
  }
}
.fa-utensils {
  font-size: 0.9rem;
  margin-right: 10px;
}
.fa-hands-helping {
  font-size: 0.9rem;
  width: 12px;
  margin-right: 10px;
}
