footer {
  width: 100%;
 display: flex;
  flex-direction: column;
  
  
  background-color: #353535;
  color: #fff;
  outline: 1px red solid;

  .titre_footer {
        display: flex;
    justify-content: center;
    
    font-size: 1.2rem;
    font-weight: 400;
  
   
    
  }

  .footer {
    @media all and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 20px;
    }
    display: flex;
    flex-direction: column;
    @media all and (min-width: 376px) {
      margin: auto;
    }

    &__link {
      color: #fff;
      margin-bottom: 10px;
      margin-left: 20px;
    }
  }
}
.fa-utensils {
  font-size: 0.9rem;
  margin-right: 10px;
}
.fa-hands-helping {
  font-size: 0.9rem;
  width: 12px;
  margin-right: 10px;
}
