header {
  width: 100%;
  padding: 20px;
  display: flex;

  outline: 1px solid black;
  .logo {
    width: 40%;
    margin: auto;
    
  }
  .fa-arrow-left{
    font-size: 1.4rem;
    cursor: pointer;
  }

}