.localisation {
  width: 100%;
  margin: auto;
  padding-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: #eaeaea;
  font-weight: bold;
}

.presentation {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background-color;
  &__titre {
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
  }
  &__annonce {
    width: 90%;
    margin: auto;
    text-align: center;
  }
  .btn--main {
    &:hover {
      @include hover-presentation;
    }
    @include boxshadow;
  }
}
