.restaurant {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  padding-bottom: 50px;
  background-color: $background-color;
  .title {
    margin-left: 20px;
  }
}
.cards-cases {
  @media all and (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "restaurant1 restaurant2"
      "restaurant3 restaurant4";

    .card-restaurant1 {
      grid-area: restaurant1;
    }
    .card-restaurant2 {
      grid-area: restaurant2;
    }
    .card-restaurant3 {
      grid-area: restaurant3;
    }
    .card-restaurant4 {
      grid-area: restaurant4;
    }
  }
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 20px;
}

.card__case {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 20px;
  width: 100%;
  position: relative;
  &:hover {
    @include hover-choix_restaurant;
    @include boxshadow-cards;
  }
  @include boxshadow;

  &--img {
    width: 336px;
    height: 175px;
  }
  &--img-news {
    position: absolute;
    top: 20px;
    left: 230px;
    padding: 5px 15px;
    border-radius: 2px;

    background-color: $color-tertiary;
    color: darken($color: $color-tertiary, $amount: 45%);

    font-weight: bold;
  }
  &--img-src {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
  }
}

.case__text {
  display: grid;
  grid-template-columns: 1fr 70px;
  grid-template-rows: 1fr;
  grid-template-areas:
    "nom  icone"
    "ville icone";
  &--restaurant-name {
    grid-area: nom;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0;
  }
  &--city-name {
    grid-area: ville;
    margin-left: 10px;
    margin-top: 5px;
  }
  &.far.fa-heart {
    grid-area: icone;
    justify-self: center;
    margin-top: 30px;
    font-size: 1.5rem;
    font-weight: 500;
    z-index: 1;
    &:hover {
      visibility: hidden;
    }
  }
  &.fas.fa-heart {
    color: transparent;
    font-size: 1.5rem;

    z-index: 1;
    position: absolute;
    right: 23px;
    bottom: 19px;
    &:hover {
      visibility: visible;
      color: $color-secondary;
      transform: scale(1.3);
      transition: ease-in 0.3s;
    }
  }
}
