.btn {
    padding: 15px 20px;
    margin: 30px 0 50px 0;
    border: none;
    box-shadow: 2px 5px 10px 3px #dbd7d7;
    border-radius: 30px;
    font-size: 1.1rem;
    color: #fff;
    background-color: map-get($color, secondaire);
    cursor: pointer;
    transform: scale(1);
    
    }
  
    @mixin buttonpresentation {
        cursor: pointer;

        padding: 15px 20px;
        margin: 30px 0 50px 0;
        border: none;
        border-radius: 30px;

        font-size: 1.1rem;
        color: #fff;
    }