.btn--main {
    cursor: pointer;

    padding: 15px 20px;
    margin: 30px 0 50px 0;
    border: none;
    border-radius: 30px;
    font-size: 1.1rem;

    color: #fff;
    background: linear-gradient(135deg, $color-secondary, $color-primary);
    
}

.btn_choix {
  display: flex;
  align-items: center;
  background-color: $background-color;
  padding: 30px;
  margin-right: 20px;
  border: none;
  border-radius: 25px;
   @include boxshadow;
  width: 90%;
  font-size: 0.9rem;
  font-weight: bold;
  gap: 30px;
  cursor: pointer;
  &:hover {
    @include hover;
    box-shadow: 2px 5px 10px 3px #9c9898;
  }
}

.validation{  /*-- btn pages menu -- */
  width: 100%;
  display: flex;
  justify-content: center;
   .btn--main{
     &:hover{
       @include hover-validation;
     }
     @include boxshadow;
   }
}  


              
    