.spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;

  &__animation {
    cursor: progress;
    z-index: 99;
    border-bottom: 5px solid $color-secondary;
    border-top: 5px solid $color-primary;
    border-radius: 50%;
    position: fixed;
    top: 50%;
    width: 100px;
    height: 100px;
    animation: animation-spinner 0.1s 25 forwards;
  }
}

.body-index {
  animation: block-spinner 2.8s;
}
