body {
  margin: auto;
  padding: 0;
  max-width: 375px;
position: relative;
  font-family: "Roboto", sans-serif;
  font-family: "Shrikhand", cursive;
  outline: 1px solid black;
  display: block;
  
}

main {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  .logo,
  h1
  
   {
    font-family: "Shrikhand", cursive;
  }
}
* {
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

a{
  color: black;
  &:visited{
    color: black;
  } 
  
}