body {
  margin: 0 auto;
  padding: 0;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-family: "Shrikhand", cursive;
  display: block;
  max-width: 1200px;
}

main {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  .logo,
  h1 {
    font-family: "Shrikhand", cursive;
  }
}
* {
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

a {
  color: black;
  &:visited {
    color: black;
  }
}
