.cartes,
.cartes-plats,
.cartes-desserts {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__btn {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    overflow: hidden;

    position: relative;

    background-color: #ffff;
    border-radius: 15px;
    height: 70px;

    @include boxshadow;
    &:hover .cartes__prix {
      animation: slide-left70px 0.6s ease-in both;
    }
    &:hover .validation__box {
      animation: slide-left70px 0.6s ease-in-out both;
    }
    &:hover .fa-check-circle {
      animation: rotate-360 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
  }
  &__description {
    display: flex;
    flex-direction: column;
    white-space: nowrap;

    &--titre {
      margin: 0;
      padding-top: 10px;
      padding-left: 10px;
    }
    &--sous-titre {
      margin: 0;
      padding-top: 10px;
      padding-left: 10px;
      padding-bottom: 10px;
    }
  }
  &__prix {
    margin-right: 25px;
    margin-bottom: 10px;
    font-weight: bold;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .validation__box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -71px;
    height: 100%;
    padding: 0 25px;
    border-radius: 0 15px 15px 0;
    color: #ffff;
    background-color: $color-tertiary;
    .fa-check-circle {
      font-size: 1.3rem;
    }
  }
}
