.presentation {
  position: relative;
  .image-restaurant {
    @media all and (min-width: 376px) {
      width: 100%;
    }
    width: 375px;
    height: 260px;
    margin: auto;
  }
  &__border {
    width: 100%;
    height: 50px;
    background-color: $background-color;
    position: absolute;
    bottom: -15px;
    border-radius: 40px 40px 0 0;
  }
}
.presentation img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
