.selection-menu {
  @media all and (min-width: 992px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      " titre titre titre"
      "entrees plats desserts";
  }
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  background-color: #f6f6f6;
  border-radius: 20px 20px 0 0;
 
  position: relative;
  &__titre {
    @media all and (min-width: 992px) {
      display: flex;
      justify-content: center;
      width: 30%;
      grid-area: titre;
    }
    display: flex;
    align-items: center;
    width: 95%;
    margin: auto;
    &--nom {
      width: 85%;
      letter-spacing: 1.3px;
      font-weight: 500;
    }
  
  .bi-heart-fill{
  transition: 0.5s ease-out;
  fill: transparent;
  stroke: black;
  &:hover  {
    fill:url(#gradientName);
    stroke: none;
    visibility: visible;
    transform: scale(1.5);
    transition: 0.5s ease-in-out;
  }
}
  }

  .entrees,
  .plats,
  .desserts {
    display: flex;
    width: 13%;
    border-bottom: 3px solid $color-tertiary;
    padding-bottom: 5px;

    text-transform: uppercase;
    font-weight: normal;
  }
}

.selection-entrees {
  width: 95%;
  margin: auto;
  grid-area: entrees;
}
.selection-plats {
  width: 95%;
  margin: 0 auto;
  grid-area: plats;
}
.selection-desserts {
  width: 95%;
  margin: 0 auto;
  grid-area: desserts;
}
