/*--- rotation animée 360° */

.rotate-90-cw {
	animation: rotate-360 0.1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@keyframes rotate-360 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* slide-left */

@keyframes slide-left70px {
  from{
    transform-origin: right;
  }
to{
  transform: translate(-70px);
}
}

@keyframes slide-left52px {
  from{
    transform-origin: right;
  }
  to{
    transform: translateX(-52px);
  }
}
/* spinner */
@keyframes block-spinner{
0%{visibility: visible;
    opacity: 0.7;
  }
70%{opacity:0.7;
}      

100%{
  visibility: hidden;
  opacity: 0.8;
}
}


@keyframes animation-spinner {
  0%{visibility: visible;
  }
  50%{transform: rotate(360deg);
    
  }
  70%{transform: rotate(360deg);
  }
  100%{transform: rotate(360deg);
    visibility: hidden;
    
  }
  
}

/* animation cartes */  

@keyframes affichage-progressif {
  0%{opacity: 0;
  }
  20%{opacity: 0;
    transform: translateY(20px);
  }
  70%{opacity: 0.9;
      transform: translateY(0px);
  }
    100%{opacity: 1;
      visibility: visible;
    transform: translateY(0px);}
}






